@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply font-medium text-[4rem] leading-[4.7rem] text-center text-very-dark-desaturated-violet w-full;
    }

    p {
        @apply text-center text-dark-grayish-violet font-normal leading-[2.8rem] text-[1.6rem];
    }
}

@layer components {
    .gradient-bg {
        @apply fixed bg-gradient-to-bl from-light-magenta to-light-violet w-[51rem] h-[101.8rem] rounded-[25.5rem] -z-10;
    }

    .chat-app {
        /* background: #FFFFFF;
        box-shadow: 0px 30px 60px -10px rgba(62, 39, 83, 0.251202);
        border-radius: 30px; */
    }

    .chat-app--header {
        /* background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%); */
        /* box-shadow: 0px 0px 13px rgba(62, 39, 83, 0.251202);
        border-radius: 20px 20px 6px 6px; */
    }

    .chat-app--text-left {
        @apply text-moderate-violet text-sm bg-light-moderate-violet max-w-[128px] p-8r flex;
        border-radius: 10px 10px 10px 4px ;

    }

    .chat-app--text-right {
        @apply text-desaturated-dark-violet text-sm bg-white max-w-[128px] p-8r;
        box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
        border-radius: 10px 10px 4px 10px;
    }

    .chat-app--text-right-block, .chat-app--text-left-block {
        @apply mb-16r;
    }
 
    .chat-app--rate {
        @apply bg-gradient-to-bl from-light-magenta to-light-violet text-white gap-x-8r max-w-[16rem];
        /* background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%); */
        box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
        /* border-radius: 10px 10px 4px 10px; */
    }

    .chat-app--rate-oval {
        @apply  bg-transparent rounded-full border border-solid border-very-light-magenta w-12r h-12r;
    }

    .chat-app--rate-price {
        @apply text-[1.1rem] leading-[1.2rem] font-bold ml-auto;
    }
}

@layer utilities {
    .chat-app--imgs-right--img {
        box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
        border-radius: 10px;
        width: 40px;
    }
}